**Programming_Basic_Assingment 23**

Question 1 : Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [6]:
def is_symmetrical(n):
  return (str(n) == str(n)[::-1])
      
print(is_symmetrical(7227))

print(is_symmetrical(12567))

print(is_symmetrical(44444444))

print(is_symmetrical(9939))

print(is_symmetrical(1112111))

True
False
True
False
True

Question 2 : Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [12]:
def multiply_nums(s):
  s1 = 1
  for i in s.split(', '):
    s1 = s1*int(i)
  return s1

print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

Question 3 : Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes: The function receives an integer and must return an integer.

In [19]:
def square_digits(num):
    r = ''
    for i in str(num):
     r = r + str((int(i))**2)
    return int(r) 

print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

Question 4 : Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [22]:
def setify(l):
  uniq_l = []
  for i in l:
    if i not in uniq_l:
      uniq_l.append(i)
  uniq_l.sort()
  return uniq_l

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5 : Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes: The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [35]:
def mean(num):
    sum_num = 0
    for t in str(num):
        sum_num = sum_num + int(t)           

    avg = sum_num / len(str(num))
    return avg

print(mean(42))
print(mean(12345))
print(mean(666))

3.0
3.0
6.0