**Programming_Basic_Assignment 15**

Question 1: Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

Example: If the following n is given as input to the program: 100

Then, the output of the program should be: 0,35,70

In [13]:
def task1(n):
  for i in range(0,n+1):
    if (i % 5 == 0) and (i % 7 == 0):
      yield str(i)

print(','.join(j for j in task1(100)))

0,35,70

In [4]:
#another way
def task1(n):
  for i in range(0,n+1):
    if (i % 5 == 0) and (i % 7 == 0):
      yield i

for j in task1(100):
  print(j,end=",")

0,35,70,

Question 2: Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

Example: If the following n is given as input to the program: 10

Then, the output of the program should be: 0,2,4,6,8,10

In [22]:
def even(n):
  for i in range(n+1):
    if i % 2 == 0:
      yield str(i)

print(','.join(j for j in even(10)))

0,2,4,6,8,10

Question 3: The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0

f(n)=1 if n=1

f(n)=f(n-1)+f(n-2) if n>1

Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

Example: If the following n is given as input to the program: 7

Then, the output of the program should be: 0,1,1,2,3,5,8,13

In [64]:
def fibo(n):
    i = 0
    j = 1
    for k in range(n+1):
        yield i
        i,j = j, i+j

print(','.join([str(num) for num in fibo(7)]))

0,1,1,2,3,5,8,13

Question 4: Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john

In [74]:
def username(email):
    return email.split('@')[0]

In [75]:
x = 'john@google.com'
username(x)

'john'

Question 5: Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [86]:
class shape:

  def area(self):
    return 0

class square(shape):
  def __init__(self, len):
    self.len = len

  def area(self):
    return self.len*self.len

In [87]:
shape_obj = shape()

shape_obj.area()

0

In [88]:
square_obj = square(13)

square_obj.area()

169