**Programming_Basic_Assingment 25**

Question1
Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

Examples

equal(3, 4, 3) ➞ 2

equal(1, 1, 1) ➞ 3

equal(3, 4, 1) ➞ 0 

Notes

Your function must return 0, 2 or 3.

In [4]:
def equal_int(a,b,c):
  if a==b==c:
    print("all r equal var: 3")
  elif a==b or b==c or c==a:
    print("2 var r equal")
  else:
    print("none r equal to each other")

a1 = int(input())
b1 = int(input())
c1 = int(input())

equal_int(a1, b1, c1)

1
1
1
all r equal var: 3

Question2
Write a function that converts a dictionary into a list of keys-values tuples.

Examples

dict_to_list({
  "D": 1,
  "B": 2,
  "C": 3
}) ➞ [("B", 2), ("C", 3), ("D", 1)]

dict_to_list({
  "likes": 2,
  "dislikes": 3,
  "followers": 10
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)]

Notes

Return the elements in the list in alphabetical order.

In [5]:
def dic_to_list_of_tuple(d):
  print(list(d.items()))

d1 = { 'a': 1, 'b': 2, 'c': 3 }
dic_to_list_of_tuple(d1)

[('a', 1), ('b', 2), ('c', 3)]

In [9]:
# another way

def dic_to_list_of_tuple(d):
  keys = d.keys()
  values = d.values()
  list_of_tuples = list(zip(keys, values))
  print(list_of_tuples)

sample_dict = {'john': 30, 'nik': 32, 'datagy': 40}
dic_to_list_of_tuple(sample_dict)

[('john', 30), ('nik', 32), ('datagy', 40)]

Question3

Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.

Examples

mapping(["p", "s"]) ➞ { "p": "P", "s": "S" }

mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" }

mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" }

Notes

All of the letters in the input list will always be lowercase.

In [13]:
def mapping(l):
  dict1 = {i : i.upper() for i in l}
  return dict1

l1 = ["p", "s"]
mapping(l1)

{'p': 'P', 's': 'S'}

In [14]:
l2 = ["a", "b", "c"]
mapping(l2)

{'a': 'A', 'b': 'B', 'c': 'C'}

In [15]:
l3 = ["a", "v", "y", "z"]
mapping(l3)

{'a': 'A', 'v': 'V', 'y': 'Y', 'z': 'Z'}

Question4

Write a function, that replaces all vowels in a string with a specified vowel.

Examples

vow_replace("apples and bananas", "u") ➞ "upplus und bununus"

vow_replace("cheese casserole", "o") ➞ "chooso cossorolo"

vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers"

Notes

All words will be lowercase. Y is not considered a vowel.

In [16]:
def rep_vowel(s):
    newstr = s  # copying s into newstr
    
    for x in s.lower():
        if x=='a':
            newstr = newstr.replace(x,"u")
    return newstr

s1 = "apples and bananas"
rep_vowel(s1)

'upples und bununus'

In [20]:
def rep_vowel(s):
    newstr = s  # copying s into newstr
    
    for x in s.lower():
        if x=='e':
            newstr = newstr.replace(x,"o")
    return newstr
s2 = "cheese casserole"
rep_vowel(s2)

'chooso cassorolo'

In [21]:
def rep_vowel(s):
    newstr = s  # copying s into newstr
    
    for x in s.lower():
        if x=='u' or x == 'a' or x == 'o':
            newstr = newstr.replace(x,"e")
    return newstr

s3 = "stuffed jalapeno poppers"
rep_vowel(s3)

'steffed jelepene peppers'

Question5

Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.

Examples

ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!"

ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD"

ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL moRNiNg."

In [37]:
def ascii_code(s):
  newstr = ""

  for i in range(len(s)):
    if ord(s[i]) % 2 == 0:
      newstr+=s[i].upper()
    else:
      newstr+=s[i].lower()
  return newstr

s1 = "to be or not to be!"
ascii_code(s1)

'To Be oR NoT To Be!'

In [40]:
s2 = "THE LITTLE MERMAID"
ascii_code(s2)

'THe LiTTLe meRmaiD'

In [41]:
s3 = "Oh what a beautiful morning."
ascii_code(s3)

'oH wHaT a BeauTiFuL moRNiNg.'