Programming_Basic_Assingment10

1. Write a Python program to find sum of elements in list?

In [ ]:
l = [1,4,5 ,45]
sum(l)

55

2. Write a Python program to  Multiply all numbers in the list?

In [ ]:
l1= [1,4,5,10]
def mul(l):
  result= 1
  for i in l1:
    result = result * i
  return result

mul(l1)

200

In [ ]:
#another way
import numpy as np

l1= [1,4,5,10]

mul = np.prod(l1)
mul

200

3. Write a Python program to find smallest number in a list?

In [ ]:
l2=[20,45,36,10,98,4,25,100]
min(l2)

4

In [ ]:
#another way using function
l2=[20,45,36,10,98,4,25,100]
def smallest(l):

  small = l2[0]
  
  for i in l2:
    while i < small:
      small = i
     
  return small

smallest(l2)

4

4. Write a Python program to find largest number in a list?

In [ ]:
l3=[20,45,36,10,98,4,25,100]
def largest(l):

  large = l3[0]
  
  for i in l2:
    while i > large:
      large = i
     
  return large

largest(l3)

100

5. Write a Python program to find second largest number in a list?

In [ ]:
l3=[20,45,36,10,98,4,25,100]
l3.sort()
print(l3)
l3[6]

[4, 10, 20, 25, 36, 45, 98, 100]

98

In [ ]:
#another way
l4=[20,45,36,10,98,4,25,100, 100]
def sec_max(l):

  max1 = max(l[0], l[1])
  second_max = min(l[0],l[1])
  
  for i in range(2,len(l)):
    if l[i] > max1:
      second_max = max1
      max1 = l[i]
    
    elif l[i] > second_max and max1 != l[i]:
      second_max = l[i]

  return second_max

sec_max(l4)

98

6. Write a Python program to find N largest elements from a list?

In [ ]:
Don't know

7. Write a Python program to print even numbers in a list?

In [1]:
l5 = [20,45,36,10,98,4,25,99, 100]
odd_list = []
def even(l):
  for i in l5:
    if i % 2 == 0:
      odd_list.append(i)
  return odd_list

even(l5)

[20, 36, 10, 98, 4, 100]

8. Write a Python program to print odd numbers in a List?

In [2]:
l6 = [20,45,36,10,98,4,25,99, 100]
odd_list = []
def even(l):
  for i in l5:
    if i % 2 != 0:
      odd_list.append(i)
  return odd_list

even(l6)

[45, 25, 99]

9. Write a Python program to Remove empty List from List?

In [18]:
a = [[1,'aa',3,12,'a','b','c','s'],[],[],[1,'aa',7,80,'d','g','f'],[9,11,12,13,14,15,'k']]

b = list(filter(lambda x: len(x)>0, a))

b

[[1, 'aa', 3, 12, 'a', 'b', 'c', 's'],
 [1, 'aa', 7, 80, 'd', 'g', 'f'],
 [9, 11, 12, 13, 14, 15, 'k']]

In [14]:
# another way
list1 = [[], [], [], [], [], 'text', 'text2', [], 'moreText']

b = list(filter(None, list1))
b

['text', 'text2', 'moreText']

In [17]:
# another way

list1 = [[], [], [], [], [], 'text', 'text2', [], 'moreText', 0.5, 1, -1, 0]

b = list(filter(lambda x: x == 0 or x, list1))
b

['text', 'text2', 'moreText', 0.5, 1, -1, 0]

10. Write a Python program to Cloning or Copying a list?

In [3]:
l7 = [20,45,36,10,98,4,25,99, 100]
new_list = l7.copy()
new_list

[20, 45, 36, 10, 98, 4, 25, 99, 100]

11. Write a Python program to Count occurrences of an element in a list?

In [21]:
lst1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]

# count occurrence of 8 in a list
x1 = 8

def countx(lst,x):
  count = 0
  for i in lst:
    if i == x:
      count = count+1
  return count

countx(lst1,x1)

5

In [22]:
# another way
lst1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]

# count occurrence of 8 in a list
x1 = 8

def countX(lst, x):
    return lst.count(x)

countx(lst1,x1)

5