**Programming_Basic_Assingment 24**

Question1

Create a function that takes an integer and returns a list from 1 to the given number, where:
If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
The given integer will always be equal to or greater than 1.
Include the number (see example above).
To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

In [3]:
def amplify(a):
  l = []
  for i in range(1, a+1):
    if i % 4 == 0:
      l.append(i*10)
    else:
      l.append(i)
  return l

a1 = 4
amplify(a1)

[1, 2, 3, 40]

In [4]:
a2 = 3
amplify(a2)

[1, 2, 3]

In [5]:
a3 = 25
amplify(a3)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

Question2

Create a function that takes a list of numbers and return the number that's unique.

Examples

unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

Notes: Test cases will always have exactly one unique number while all others are the same.

In [13]:
def unique(l):
  
  for i in l:
    if l.count(i) == 1:
      print(i)

l1 = [3, 3, 3, 7, 3, 3]
unique(l1)

7

In [14]:
l2 = [0, 0, 0.77, 0, 0]
unique(l2)

0.77

In [15]:
l3 = [0, 1, 1, 1, 1, 1, 1, 1]
unique(l3)

0

Question3

Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.

Examples

circy = Circle(11)

circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)

circy.getPerimeter()

# Should return 27.897342763877365
Notes : Round results up to the nearest integer.

In [23]:
import math

class circle():
  def __init__(self, r):
    self.r = r

  def getArea(self):
    return self.r**2*math.pi

  def getPerimeter(self):
    return self.r*2*math.pi

r1 = 11
circy = circle(r1)
circy.getArea()

380.132711084365

In [21]:
r1 = 4.44
circy = circle(r1)
circy.getPerimeter()

27.897342763877365

Question4

Create a function that takes a list of strings and return a list, sorted from shortest to longest.

Examples

sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]

sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]

sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]

Notes: All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [27]:
def sort_by_length(l):
  l.sort(key = len)
  return l

l1 = ["Google", "Apple", "Microsoft"]
sort_by_length(l1)

['Apple', 'Google', 'Microsoft']

In [28]:
l2 = ["Leonardo", "Michelangelo", "Raphael", "Donatello"]
sort_by_length(l2)

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [29]:
l3 = ["Turing", "Einstein", "Jung"]
sort_by_length(l3)

['Jung', 'Turing', 'Einstein']

Question5

Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

Examples

is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25

is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169

is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes: Numbers may not be given in a sorted order.

In [42]:
def is_triplet(a,b,c):
    (A,B,C) = (a*a,b*b,c*c)
    if A + B == C or B + C == A or A + C == B:
      return True
    else:
      return False

is_triplet(3, 4, 5)

True

In [43]:
is_triplet(13, 5, 12)

True

In [44]:
is_triplet(1, 2, 3)

False